@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.settings {
    background-color: #6366f1;
    padding: 15px;
    height: 40px;
}
.tail {
    margin-top: 8px;
}
.settings * {
    display: inline-block;
}
.settings span {
    font-size: 18px;
    color: white;
    margin-left: 7px;
}
.settings i {
    color: white;
}
.settings_right {
    float: right;
    padding-bottom: 20px;
}
.settings_right span {
    border: 1px solid white;
    border-radius: 15px;
    padding: 7px;
    font-size: 14px;
    font-weight: 900;
}
.boje {
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 6px;
    margin-left: 20px;
    margin-right: 10px;
}
.boje i {
    font-size: 18px;
}
#one {
    color: #6366f1;
}
#two{
    color: orange;
}
#three{
    color: red;
}
#four{
    color:mediumslateblue;
}
#five{
    color:hotpink;
}
#six{
    color:rgb(21, 118, 214);
}
#seven{
    color:forestgreen;
}

.uredjaji i {
    font-size: 22px;
    margin-left: 10px;
}
#computer {
    color: white;
}
#tablet,#phone {
    color: rgb(187, 187, 187);
}
.theme i {
    font-size: 18px;

}
.theme {
    border: solid 1px rgb(48, 117, 185);
    background-color: rgb(48, 117, 185);
    border-radius: 15px;
    padding: 7px;
    margin-left: 10px;
}
#sun {
    margin-right: 5px;
}
.cards {
    width: 100vw;
    padding-top: 150px;
}
.card {
    height: 400px;
    width: 380px;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
}
.hw {
    background-color: rgb(241, 241, 241);
    height: 170px;
    width: 380px;
    border: 0px solid rgb(180, 180, 180);
    border-radius: 7px;
}
.velicina {
    position: relative;
    left: 28%;
    top: 36%;
    font-size: 40px;
    color: gray;
}
.text {
    height: 230px;
    width: 350px;
    padding: 20px;
}
.text h1 {
    font-size: 14px;
}
.text h2 {
    font-size: 20px;
}
.text h3 {
    font-size: 16px;
}
.text h4 {
    font-size: 20px;
    display: inline-block;
    color: royalblue;
    margin-top: 15px;
}

.text i {
    color: rgb(190, 190, 190);
    display: inline-block;
}
.text .fa-arrow-right {
    font-size: 22px;
    color: royalblue;
    margin-left: 5px;
}
#eye {
    margin-left: 80px;
}
#hiljade {
    padding-right: 15px;
    border-right: 2px rgb(199, 199, 199) solid;
    display: inline-block;
    color: rgb(167, 167, 167);
    margin-right: 15px;
}
#komentari {
    display: inline-block;
    color: rgb(167, 167, 167);
}
.github {
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 22px;
    padding: 10px;
    border: 1px solid gray;
    background-color: gray;
    color: white;
    border-radius: 35px;
}