body {
    background-color: gray;
}


.kartice {
    border: 1px solid white;
    display: inline-block;
    border-radius: 20px;
    width: 210px;
    padding: 10px;
    margin-right: 150px;
    background-color: rgb(24, 24, 24);
    color: white;
    margin-bottom: 100px ;
    margin-top:100px ;
}
.kartice img {
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    margin-left: 4px;
    margin-top: 20px;
}
.kartice p {
    padding: 0px 10px;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}
.mark {
    width: 10px;
    height: 15px;
    
}
#sredina {
    margin: 0px 80px;
}
#ikone  {
    display: inline-block;
    padding: 20px 5px 5px 5px;
}
#prva {
    margin-left: 100PX;
}